body {
  /*  padding-top: 5rem; */
}

.container {
    padding: 1rem 1.5rem;
 /*   text-align: center; */
}

#fileTransformer {
   /* margin: 2rem auto; */
    border:.1rem;
    border-radius:1rem;
}

.operation {
    padding: 1rem 0rem;
}

#fileTransformer .file-preview{
    border:0;
    margin-bottom: 0px;
}

#fileTransformer div.kv-upload-progress{
    display: none;
}

#fileTransformer div.card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#fileTransformer div.file-drop-zone {
    border:2px dashed #aaa;
    padding:  0px;
}

/*
#fileTransformer .theme-explorer-fas .explorer-frame .kv-file-content {
    width: 40px;
    height: 40px;
    padding: 2px;
}
*/