{% load staticfiles %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="online tool for photograph">
    <meta name="author" content="zlab">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'Zlogo.ico' %} ">

    <title> Online Photograph Tool </title>


    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <!-- Custom styles for this template -->
    <link href="{% static 'zphoto.css' %}" rel="stylesheet">
  </head>

  <body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-light">
	<div class="container">
	<a class="navbar-brand" href="#">
	  <img src="{% static 'zphoto.png' %}" height="20rem"alt="Z"></a>

	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#NavigationBar" aria-controls="NavigationBar" aria-expanded="false" aria-label="Toggle navigation">
	  <span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="NavigationBar">
	  <ul class="navbar-nav mr-auto">
	    <li class="nav-item active">
	      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
	    </li>
	    <li class="nav-item">
	      <a class="nav-link" href="#">Link</a>
	    </li>
	    <li class="nav-item">
	      <a class="nav-link disabled" href="#">Disabled</a>
	    </li>
	    <li class="nav-item dropdown">
	      <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
	      <div class="dropdown-menu" aria-labelledby="dropdown01">
		<a class="dropdown-item" href="#">Upload photograph</a>
		<a class="dropdown-item" href="#"> action</a>
		<a class="dropdown-item" href="#">Something else here</a>
	      </div>
	    </li>
	  </ul>
	  
	  <button type="button" class="btn  btn-outline-primary">sign up</button>
	</div>
	</div>
      </nav>
    </header>
    
    <main role="main" class="content">

      <div class="container">
      	<div class="row justify-content-lg-between align-items-lg-center py-4">
      	  <div class="col-lg-5 mb-4">
      	    <h1>Online photograph converting</h1>
      	    <p class="lead">Want to convert picture to others type? or shirk picture to smaller for speeding up web application? try uploading and converting your picture
      	    </p>
	    
      	    <!-- <a href="#" class="btn btn-outline-primary">upload your file</a> -->
      	    <input class="btn btn-primary" type="file" id="uploadFile" multiple="" style="display:none"  onChange="handleUploadFile(this.files)">
      	    <a href="#" id="fileSelect" class="btn btn-primary">upload</a>
      	  </div>

      	  <div class ="col-lg-7">
	    
      	    <div class="card-deck d-block fluid mb-3" >
      	      <div class="card text-center shadow" id="fileTransformer">
      		<div class="card-header">
      		  <h4 class="font-weight-normal">file transformer: </h4>
      		</div>
      		<div class="card-body" id="fileList">
      		  <!-- <h5 class="card-title">Upload your file</h5> -->
      		  <p class="card-text">png, jpeg, jpg file is accepted file type,</p>
      		</div>

      	      </div>
      	    </div >
      	  </div>

      	</div>
	
      	<!-- operations that could be applied to transformer -->
      	<!-- =============================================== -->
      	<div class="container operation">
      	  <div class="row">
      	    <div class="col-sm-6 col-md-4 mb-4 mb-md-5">
	      
      	      <form>
      	  	<div class="form-check">
      	  	  <input class ="form-check-input" type="radio" name="option-level" checked >
      	  	  <label class ="form-check-label" for="normal">
      	  	    normal
      	  	  </label>
      	  	</div>

      	  	<div class="form-check form-check-inline">
      	  	  <input class ="form-check-input" type="radio" name="option-level">
      	  	  <label class ="form-check-label" for="smallest">
      	  	    smallest
      	  	  </label>
      	  	</div>
		
      	  	<div class="form-group">
      	  	  <label for="formControlRange">resize</label>
      	  	  <input type="range" class="form-control-range" id="formControlRange">
      	  	</div>
		
      	  	<input class="btn btn-outline-primary" type="submit" value="apply">
      	  	<input class="btn btn-outline-primary" type="submit" value="add to templates">
      	      </form>
	      
      	    </div>
	    
	    
      	    <div class="col-sm-6 col-md-4 mb-4 mb-md-5">
      	      <form>
      	  	<div class="form-check">
      	  	  <input class ="form-check-input" type="radio" name="option-level" checked >
      	  	  <label class ="form-check-label" for="normal">
      	  	    normal
      	  	  </label>
      	  	</div>

      	  	<div class="form-check form-check-inline">
      	  	  <input class ="form-check-input" type="radio" name="option-level">
      	  	  <label class ="form-check-label" for="smallest">
      	  	    smallest
      	  	  </label>
      	  	</div>
		
      	  	<div class="form-group">
      	  	  <label for="formControlRange">resize</label>
      	  	  <input type="range" class="form-control-range" id="formControlRange">
      	  	</div>
		
      	  	<input class="btn btn-outline-primary" type="submit" value="apply">
      	  	<input class="btn btn-outline-primary" type="submit" value="add to templates">
      	      </form>
	      
      	    </div>
	    
      	    <div class="col-sm-6 col-md-4 mb-4 mb-md-5">
      	      <form>
      	  	<div class="form-check">
      	  	  <input class ="form-check-input" type="radio" name="option-level" checked >
      	  	  <label class ="form-check-label" for="normal">
      	  	    normal
      	  	  </label>
      	  	</div>

      	  	<div class="form-check form-check-inline">
      	  	  <input class ="form-check-input" type="radio" name="option-level">
      	  	  <label class ="form-check-label" for="smallest">
      	  	    smallest
      	  	  </label>
      	  	</div>
		
      	  	<div class="form-group">
      	  	  <label for="formControlRange">resize</label>
      	  	  <input type="range" class="form-control-range" id="formControlRange">
      	  	</div>
		
      	  	<input class="btn btn-outline-primary" type="submit" value="apply">
      	  	<input class="btn btn-outline-primary" type="submit" value="add to templates">
      	      </form>
      	    </div>
	    
      	    <div class="col-sm-6 col-md-4 mb-4 mb-md-5">
      	      <form>
      	  	<div class="form-check">
      	  	  <input class ="form-check-input" type="radio" name="option-level" checked >
      	  	  <label class ="form-check-label" for="normal">
      	  	    normal
		  </label>

      	  	</div>
		
      	  	<div class="form-check form-check-inline">
      	  	  <input class ="form-check-input" type="radio" name="option-level">
      	  	  <label class ="form-check-label" for="smallest">
      	  	    smallest
      	  	  </label>
      	  	</div>
		
      	  	<div class="form-group">
      	  	  <label for="formControlRange">resize</label>
      	  	  <input type="range" class="form-control-range" id="formControlRange">
      	  	</div>
		
      	  	<input class="btn btn-outline-primary" type="submit" value="apply">
      	  	<input class="btn btn-outline-primary" type="submit" value="add to templates">
      	      </form>
      	    </div>
	    
      	    <div class="col-sm-6 col-md-4 mb-4 mb-md-5">
      	      <form>
      	  	<div class="form-check">
      	  	  <input class ="form-check-input" type="radio" name="option-level" checked >
      	  	  <label class ="form-check-label" for="normal">
      	  	    normal
      	  	  </label>
      	  	</div>

      	  	<div class="form-check form-check-inline">
      	  	  <input class ="form-check-input" type="radio" name="option-level">
      	  	  <label class ="form-check-label" for="smallest">
      	  	    smallest
      	  	  </label>
      	  	</div>
		
      	  	<div class="form-group">
      	  	  <label for="formControlRange">resize</label>
      	  	  <input type="range" class="form-control-range" id="formControlRange">
      	  	</div>
		
      	  	<input class="btn btn-outline-primary" type="submit" value="apply">
      	  	<input class="btn btn-outline-primary" type="submit" value="add to templates">
      	      </form>
      	    </div>
	    
      	    <div class="col-sm-6 col-md-4 mb-4 mb-md-5">
      	      <form>
      	    	<div class="form-check">
      	    	  <input class ="form-check-input" type="radio" name="option-level" checked >
      	    	  <label class ="form-check-label" for="normal">
      	    	    normal
      	    	  </label>
      	    	</div>

      	    	<div class="form-check form-check-inline">
      	    	  <input class ="form-check-input" type="radio" name="option-level">
      	    	  <label class ="form-check-label" for="smallest">
      	    	    smallest
      	    	  </label>
      	    	</div>
		
      	    	<div class="form-group">
      	    	  <label for="formControlRange">resize</label>
      	    	  <input type="range" class="form-control-range" id="formControlRange">
      	    	</div>
		
      	    	<input class="btn btn-outline-primary" type="submit" value="apply">
      	    	<input class="btn btn-outline-primary" type="submit" value="add to templates">
      	      </form>
      	    </div>
	    
      	  </div>
      	</div>
	
	
      </div>
      
    </main>
    <footer class="footer">
      <div class="container">
	<hr class="m-0">
	<div class="text-muted text-center">
	  <p>© 2018 - ZLAB</p>
    </footer>
    
    <!-- js script ===================================== -->
    <script src="{% static 'uploadfile.js' %}" ></script>


    <!-- Bootstrap core JavaScript -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
